apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        image: 070949691278.dkr.ecr.ap-northeast-1.amazonaws.com/python-app:latest
        ports:
        - containerPort: 80
